@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
:root {
  background: -webkit-linear-gradient(top, #222838 0%, #131621 100%);
  height: 100vh;
}

.container {
  width: 334px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 14px;
  margin-bottom: 30px;
  color: #24E2B8;
}

.login-button, .register-button{
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.login-button:hover, .register-button:hover {
  background-position: 0% 30%;
}
.login-button:hover:after, .register-button:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.login-button:before,.login-button:after, .register-button:before, .register-button:after{
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.login-button:before, .register-button:before{
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.login-button:after, .register-button:after{
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}

.login-button {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #23FF04;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23FF04)), to(rgba(126, 94, 162, 0.51)), url('https://img5.goodfon.ru/wallpaper/nbig/6/5c/albion-online-game-art-1.jpg');
  background-image: linear-gradient(to bottom, #23FF04, rgba(126, 94, 162, 0.51)), url("https://img5.goodfon.ru/wallpaper/nbig/6/5c/albion-online-game-art-1.jpg");
}
.login-button:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #782CDA;
}
.login-button:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.login-button:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.login-button:after, .login-button:before {
  content: "";
}
.login-button b {
  color: E7F2E5;
  font-weight: 700;
}

.register-button:hover {
    background-position: 0% 30%;
  }
  .register-button:hover:after {
    right: -40px;
    -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,-webkit-transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear;
    transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
  }
  .register-button:before,.register-button:after{
    font-family: FontAwesome;
    display: block;
    position: absolute;
  }
  .register-button:before{
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 30px;
    left: 25px;
    top: 19px;
  }
  .register-button:after{
    -webkit-transition: right .4s, -webkit-transform .2s;
    transition: right .4s, -webkit-transform .2s;
    transition: right .4s, transform .2s;
    transition: right .4s, transform .2s, -webkit-transform .2s;
    font-size: 100px;
    opacity: .3;
    right: -120px;
    top: -17px;
  }
  
  .register-button {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #23FF04;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66058d)), to(rgba(126, 94, 162, 0.51)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROPktwNQdynSGSq81ppvhQe9copN4V_hc-fQ&usqp=CAU");
    background-image: linear-gradient(to bottom, #23FF04, rgba(126, 94, 162, 0.51)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROPktwNQdynSGSq81ppvhQe9copN4V_hc-fQ&usqp=CAU");
  }
  .register-button:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #782CDA;
  }
  .register-button:hover:after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .register-button:hover:before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .register-button:after, .login-button:before {
    content: "";
  }
  .register-button b {
    color: E7F2E5;
    font-weight: 700;
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .h1-one {
    font-size: 3vmin;
    line-height: 1.5;
    background: linear-gradient(
to right, 
hsl(98 100% 62%), 
hsl(204 100% 59%)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
}