<div class="login-box">
    <h1 class="h1-one">REGISTRATION</h1>
    <form [formGroup]="registerForm">
    <div class="user-box">
      <input type="text" name="" required="" formControlName="login">
      <label>Username</label>
    </div>
    <div class="user-box">
        <input type="email" name="" required="" formControlName="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" formControlName="userName">
        <label>Username</label>
      </div>
    <div class="user-box">
      <input type="password" name="" required="" formControlName="password">
      <label>Password</label>
    </div>
  <button class="register-button" >REGISTER</button>
  <br>
  <h1 class="h1-one">Sure have an account?</h1>
  <button class="login-button" (click)="redirectToLogin()">LOGIN</button>
  </form>
</div>

